html,
body {
  margin: 0;
  padding: 0;
}

#root {
  width: 75vw;
  height: calc((9 / 16) * 75vw);
  background-color: white;
}

@media screen and (max-width: 768px) {
  #root {
    width: 100vw;
    height: calc((9 / 16) * 100vw);
  }
}
